*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
.DS_Store
/build
/buildSrc/build
/apps/composemvvmapp/build
/apps/mvvmapp/build
/apps/mvpapp/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/data/build
/shared/domain/build
/shared/impl/build
/shared/presentation/mvp/build
/shared/presentation/mvvm/build
